﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/home/usuarios">Usuarios</a>
    <a href="/home/solicitudes">Solicitudes</a>
</div>
