﻿@{
    var solicitud = (List<Solicitud>)Model;
}

<h1>Solicitudes</h1>

<table class="table">
    <thead>
        <tr>
            <th>Solicitante</th>
            <th>Aceptar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in solicitud)
        {
            <tr>
                <td>@item.User.Usuario</td>
                <td>
                    <a href="/Home/AceptaSolicitudes?idUsuario=@item.IdAmigo">Aceptar</a>
                </td>
            </tr>
        }
    </tbody>
</table>