﻿
@{
    var usuario = (List<Account>)Model;
}

<h1>Usuarios</h1>

<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Solicitar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in usuario)
        {
            <tr>
                <td>@item.Usuario</td>
                <td>
                    <a href="/Home/Solicitud?idUser=@item.Id">Enviar solicitud</a>
                </td>
            </tr>
        }
    </tbody>
</table>