﻿<div class="text-center">
    <div>
        <div>
            <h1>Iniciar Sesión</h1>
        </div>
        <form action="/login/login" method="post">
            <div class="pb-2">
                <input type="text" name="username" placeholder="Usuario" />
            </div>
            <div class="pb-2">
                <input type="password" name="password" placeholder="Contraseña" />
            </div>
            <div>
                <button class="btn btn-primary">Iniciar Sesión</button>
            </div>
        </form>
    </div>
</div>