﻿<div class="text-center">
    <div>
        <div>
            <h1>Registrarse</h1>
        </div>
        <form action="/login/register" method="post">
            <div class="pb-2">
                <input type="text" name="Usuario" placeholder="Usuario" />
            </div>
            <div class="pb-2">
                <input type="password" name="Contraseña" placeholder="Contraseña" />
            </div>
            <div>
                <button class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>