﻿@{ 
    List<Cuenta> cuentas = ((List<Cuenta>)ViewBag.cuenta);
}

<div class="row">
    <div class="col">
        <div class="clearfix">
            <a href="/cuenta/transferencia">Hacer Transferencia</a>

            <h4>Saldo Total: @string.Format("{0:N2}", cuentas.Sum(o => o.Saldo)) S./</h4>

            <br />
            <table class="table mt-2">
                <tr>
                    <th>Nombre</th>
                    <th>Categoría</th>
                    <th>Monto</th>
                    <th></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Tipo</td>
                        <td>
                            @if (item.Tipo == "Crédito")
                            {
                                <strong>Limite</strong> @string.Format("{0:N2}", item.Limite)
                                <br />
                            }
                            <strong>Saldo</strong> @string.Format("{0:N2}", item.Saldo) S/.
                        </td>
                        <td>
                            <div class="clearfix">
                                <a class="btn btn-primary float-right" href="/Cuenta/transacciones?id=@item.Id">Mis Transacciones</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>