﻿<form action="/cuenta/transferencia" method="post">
    <div>
        <h1>HACER TRANSFERENCIA DE UNA CUENTA A OTRA</h1>
    </div>
    Cuenta Origen
    <div>
        <select class="form-control" name="cuentaOrigenId">
            <option>-- Seleccione una cuenta --</option>
            @foreach (var item in ViewBag.cuentas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>


    Cuenta Destino
    <div>
        <select class="form-control" name="cuentaDestinoId">
            <option>-- Seleccione una cuenta --</option>
            @foreach (var item in ViewBag.cuentas)
            {
                <option value="@item.Id">@item.Nombre</option>
            }
        </select>
    </div>


    Monto a transferir
    <div class="pb-2">
        <input class="form-control" type="text" name="monto" />
    </div>
    <div>
        <button class="btn btn-outline-success">Guardar</button>
    </div>


</form>